.articale_container {
  margin: 0 auto;
}

.articale_container > img {
  position: absolute;
  top: 27px;
  right: -1px;
  z-index: -1;
}

.articale_body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 22px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.articale_section_content {
  width: 50%;
  font-family: "Cairo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 243.13%;

  @media (max-width: 768px) {
    width: 100%;
    margin-bottom: 20px;
  }
  cursor: text;
}

.articale_section_image {
  width: 50%;
  display: flex;
  justify-content: center;

  @media (max-width: 768px) {
    width: 100%;
  }

  img {
    transition: transform 0.5s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
  cursor: pointer;
}
