.aboutus_container {
  width: 1434.39px;
  height: 750.78px;
  margin: 0 auto;
}

.aboutus_container h1 {
  font-family: "Cairo";
  font-size: 93px;
  margin-bottom: -28px;
  color: #303183;
}

.aboutus_container p {
  font-family: "Cairo";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 250.28%;
  width: 70%;
  /* or 81px */
  color: #303183;
}
