// Global styling
h1 {
  color: #303183 !important;
}

p {
  color: #505e6a !important;
}

button {
  background-color: #303183 !important;
  color: white !important;
  width: 136px !important;
  height: 36px !important;
}

button a {
  text-decoration: none !important;
  color: white !important;
}
